.app {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.name-input {
  border: 5px solid black;
  width: 780px;
  padding: 14px;
  font-weight: bold;
  font-size: 20px;
}

.location-select {
  border: 5px solid black;
  width: 780px;
  padding: 14px;
  font-size: 20px;
}

.invalid-name {
  color: red;
}

.buttons {
  display: flex;
  gap: 54px;
}

.button {
  font-size: 20px;
  font-weight: bold;
  background: white;
  border: 5px solid black;
  padding: 10px 16px;
}

.table {
  border: 5px solid black;
}

.table-name {
  border-right: 5px solid black;
  min-width: 370px;
  background: #cccccc;
  text-align: left;
}
.table-location {
  background: #cccccc;
  min-width: 530px;
  text-align: left;
}

th {
  padding: 10px 16px;
}
.name-td {
  border-right: 5px solid black;
}

td {
  padding: 10px 16px;
}

tr:nth-child(odd) {
  background: #eee;
}

label {
  margin-right: 24px;
}
